<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dog1)/world/wall2.world"/>
  </include> 
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <node
    name="tf_scan_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0.2 0 0.08 0 0 0 base_link base_scan 40" />

  <!--Load dog-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dog1)/robots/dog1.xacro'"/>

  <node name="dog_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x 0 -y 0 -z 0 -param robot_description -model dog" />

  <param name="target_description"
    command="$(find xacro)/xacro --inorder '$(find machine_learning)/env/target/target_link.xacro'" />

  <node name="target_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y 0 -z 0 -model target -param target_description"/>

  
  


  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
